.App-header {
  background-color: var(--background-header-color);
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  padding: 10px;
}

.App-navigation {
  background-color: var(--background-offset-color);
}

.App-navigation > div {
  /*width: 100px;*/
  display: inline-block;
  border-left: 1px solid black;
  padding-right: 5px;
}
.App-navigation > div:first-child {
  border-left: 0px;
}

.App-navigation a {
  color: var(--font-color);
}

.App-navigation a:link {
  color: var(--font-color);
  text-decoration: none;
}

.App-navigation a:visited {
  color: var(--font-color);
  text-decoration: none;
}

.App-navigation a:hover {
  color: var(--font-color);
  text-decoration: underline;
}
