.header-wrapper,
.nav-wrapper,
.route-wrapper {
  width: 100%;
  margin: 0;
  padding: 0;
}

.header-wrapper > div,
.nav-wrapper > div,
.route-wrapper > div {
  width: var(--app-container-width);
  margin: var(--app-container-margin);
}

.header-wrapper {
  background-color: var(--background-header-color);
}

.header-container {
  min-height: 50px;
  padding: 10px 0
}

.nav-wrapper {
  background-color: var(--background-offset-color);
}

.nav-content {
  padding: 5px 0;
}

.nav-content > div {
  display: inline-block;
  border-left: 1px solid black;
  padding: 0 5px;
}

.nav-content > div:first-child {
  border-left: 0;
  padding-left: 0
}

.nav-content a {
  color: var(--font-color);
}

.nav-content a:link {
  color: var(--font-color);
  text-decoration: none;
}

.nav-content a:visited {
  color: var(--font-color);
  text-decoration: none;
}

.nav-content a:hover {
  color: var(--font-color);
  text-decoration: underline;
}

