/****************************** RESET CSS ******************************/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/****************************** APP GLOBAL CSS ******************************/


:root {
  --app-container-width: 1200px;
  --app-container-margin: 0 auto;
  --font-color: black;
  --background-page-color: #F7F6F4;
  --background-offset-color: #E5DDD6;
  --background-header-color: #B09D8D;
  --section-border: solid #4B391C 1px;
  --section-background-color: #F4F3EF;
  --section-background-offset-color: #F3F2EF;
}


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--background-page-color);
  color: var(--font-color);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}

a:active {
  text-decoration: underline;
}


.section {
  border: var(--section-border);
  background-color: var(--section-background-color);
  padding: 10px;
  margin: 5px;
}

.builder {
  display: grid;
  grid-template-columns: 75% 25%;
}

/* GRID TABLES */
.table > div {
  display: grid;
  gap: 5px;
  padding: 5px;
}
.table > div:nth-child(even) {
  background-color: whitesmoke;
}
.table > div:nth-child(odd) {
  background-color: var(--background-offset-color);
}
.table > div:first-child {
  background-color: var(--background-header-color);
  font-weight: bold;
  font-variant-caps: all-petite-caps;
}

/* BUILDER */
.build-summary div {
  padding: 5px;
}
.build-summary label {
  font-variant-caps: all-petite-caps;
  margin-right: 10px;
}
.build-summary span {
  font-weight: bold;
}
.build-summary .header {
  background-color: var(--background-header-color);
  font-weight: bold;
  font-variant-caps: all-petite-caps;
}

.table-economic-class > div {
  grid-template-columns: 5% 23% 33% 34%;
}

.table-upbringing > div {
  grid-template-columns: 5% 5% AUTO 15% 15%;
}

.table-profession > div {
  grid-template-columns: 10% 15% 20% 20% 15% AUTO;
}

.table-life-event > div {
  grid-template-columns: 5% 5% AUTO 15% 15%;
}
